  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


  :root {
    --bg-color: #0c0c0c ;
    --card-bg: #1a1919 ;
    --text-color: #e3e36e  ;
    --accent-color: #dede69            ;              
  }

  body {
    background-color: var(--bg-color);
    color: var(--text-color);
          font-family: "Roboto Mono", monospace;
  }

  .card {
    background-color: var(--card-bg);
    border: 1px solid var(--accent-color);
  }

  h1, h2, h3 {
    color: var(--accent-color);
  }

